html, body, #root {
    height: 100%;
    margin: 0;
}

:root {
    background-color: #121212;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
